################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/App.PracticePanther/.vs/App.PracticePanther
/App.PracticePanther/App.PracticePanther/obj
/App.PracticePanther/App.PracticePanther/bin/Debug/net7.0
/App.PracticePanther/.vs/ProjectEvaluation
/App.PracticePanther/MAUI.PracticePanther/bin/Debug/net7.0-windows10.0.19041.0/win10-x64
/App.PracticePanther/MAUI.PracticePanther/obj
/App.PracticePanther/Library.PracticePanther/bin/Debug/net7.0
/App.PracticePanther/Library.PracticePanther/obj
/App.PracticePantherSimpson_P3.zip
/App.PracticePantherSimpson_P2.zip
/App.PracticePantherSimpson_P1.zip
/App.PracticePantherP2_InProgress.zip
