################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/App.PracticePanther/.vs/App.PracticePanther
/App.PracticePanther/App.PracticePanther/obj
/App.PracticePanther/App.PracticePanther/bin/Debug/net7.0
/App.PracticePanther/.vs/ProjectEvaluation
